* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid lightgray;
}

.logo {
  width: 230px;
}

.search-area {
  margin: 0 35px;
  width: 30%;
  border-radius: 5px;
  padding: 8px;
  border-style: none;
  background-color: rgb(238, 236, 236);
}

.button {
  padding: 7px;
  margin: 5px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.register {
  background-color: green;
  color: white;
  border-style: none;
}

.login {
  background-color: rgb(235, 233, 233);
  border: 1px solid lightgray;
}

.asterisk {
  color: red;
  font-weight: bold;
}

main {
  width: 70%;
  margin: 0 auto;
}
.main-text {
  text-align: center;
}

.main-text h1 {
  margin-top: 30px;
  font-size: 40px;
}

.main-text h3 {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 100;
}

.form-header {
  text-align: center;
  margin-top: 30px;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 7px 7px 0 0;
}

.form-main {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 0 0 7px 7px ;
}

.icon {
  color: green;
}

.icon-header {
  font-weight: bold;
  color: rgb(87, 85, 85);
  margin-top: 20px;
}

.input-style {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 5px;
  font-size: 15px;
}

.container-input {
  margin-top: 20px;
  margin-right: 20px;
}

.text-label{
  font-weight: bold;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}

.container-3 {
  width: 30%;
}

.all-radio-container{
  display: flex;
}

.radio-container {
  margin-top: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  margin-right: 2px;
}

.checkbox-div {
  margin-top: 20px;
  display: flex;
}

.checkbox {
  font-weight: bold;
}

.checkbox-text-align {
  margin-left: 10px;
}

.checkbox-term {
  margin-top: 20px;
  text-align: center;
}

.last-btn {
  border: 1px solid lightgray;
  margin-top: 20px;
}